<!-- NgIf -->

<button (click)="trocarValor()"> Trocar valor </button> {{ deveExibir }}

<p *ngIf="deveExibir; else blocoElse">
  Meu texto...
</p>

<ng-template #blocoElse>
  <p> Sou o bloco ELSE. </p>
</ng-template>

<div *ngIf="getExibir(); then bloco1; else bloco2"></div>
<ng-template #bloco1>
  <p> Bloco 1 </p>
</ng-template>
<ng-template #bloco2>
  <p> Bloco 2 </p>
</ng-template>

<ng-template [ngIf]="deveExibir">
  <p> Conteudo dentro do NgTemplate </p>
</ng-template>

<div *ngIf="somar(2, 4) > 5">
  Olá, estou dentro do NgIf!
</div>

<p [hidden]="!deveExibir">
  Elemento com hidden
</p>

<!-- NgFor -->

<button (click)="adicionarMaisUmCurso('Mais um curso')">
  Adicionar curso
</button>

<ul>
  <li *ngFor="let curso of cursos; let i = index; let count = count; let last = last">
    {{ count }} -  {{ i + 1 }} - {{ curso }}
     - {{ last ? 'Este é o ultimo item!' : '' }}
  </li>
</ul>

<p *ngFor="let curso of cursos"> {{ curso }} </p>


<!-- Exercício -->
<ul>
  <li *ngFor="let memesAgrupados of MEMES_AGRUPADOS_POR_CATEGORIA">
    {{ memesAgrupados.categoria }}

    <div *ngFor="let meme of memesAgrupados.memes; let first = first">
      <!-- <img src="{{ IMAGEM_PREFIXO + meme.imagemURL }}"> -->
      <!-- <img src="{{ getURLImagem(meme.imageURL) }}"> -->
      <img [src]="IMAGEM_PREFIXO + meme.imagemURL" width="100"
        *ngIf="!first; else blocoMemeOmitido">

      <ng-template #blocoMemeOmitido>
        <p> Primeiro meme omitido </p>
      </ng-template>
    </div>
  </li>
</ul>


<br><br><br><br><br><br><br>